.blood{
    text-align: center;
    color:white;
    font-size: 18px;
}
.contactheading{
    color:white;
    font-size: 16px;
}
.findbloodlistmenu{
    margin-left: 72px;

}
.don{
width:80px;
height:30px;
}
#con{
    margin-left: 10px;
}
td{
    padding:9px;
}
.table{
    background-color:white;
}